<!DOCTYPE html>
<html>
<head>
    <title>Birthday App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="~/assets/css/bundle.css"/>
    @RenderSection("Styles", false)
</head>
<body>
    <main class="error-page">
        @RenderBody()
    </main>

</body>
</html>
