
@import '_variables.scss';

.error-page{
    display:block;
    height:90vh;
    width:90%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#fff;

    img{
        display:block;
        width:40%;
        height:auto;
    }

    p{
        margin-top:2rem;
        font-size:1.5rem;
        padding:0 1rem;

        a{
            color:$color-secondary;
        }
    }
}
