@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*#FFBD59*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

html {
    font-size: 10px;
}

body {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow-x: hidden;
}

.alertify-notifier{
    color:#fff;
    text-align:center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

#layout {
    width: 90%;
    height: 95vh;
    border-radius: 10px;
    background-image: url("/img/birthdayBG.jpg");
    background-position: bottom;
    background-size: cover;
    position: relative;
}

/* NAVBAR */

nav {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.4)), to(rgba(0,0,0,0)));
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
    padding: 1rem 0;
    position: relative;
    z-index: 11;
}

#brand img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

nav, .nav-expand {
    font-size: 1.7rem;
}

.nav-link {
    padding: 1rem 2rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    .nav-link:hover {
        color: #000;
        background-color: #FFBD59;
    }

nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.nav-expand {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: 10;
}

.nav-expand-true {
    top: -5vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.nav-expand-false {
    top: calc(-200%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.nav-expand .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.nav-expand .nav-link {
    margin-bottom: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
}

.nav-expand-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 12;
    cursor: pointer;
}

    .nav-expand-btn span {
        width: 2rem;
        height: 0.2rem;
        margin-bottom: 4px;
        background-color: #FFBD59;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        display: block;
    }

.first-line-true {
    -webkit-transform: rotate(45deg) translate(43%);
    transform: rotate(45deg) translate(43%);
}

.second-line-true {
    opacity: 0;
}

.third-line-true {
    -webkit-transform: rotate(-45deg) translate(43%);
    transform: rotate(-45deg) translate(43%);
}

.divide-nav-link {
    width: calc(40%);
    height: 1px;
    color: red;
    background-color: #FFBD59;
    border: none;
    margin: 15px auto;
    margin-bottom: 19px;
}

main {
}

    main .container:first-child {
        margin-top: 1.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.card {
    width: 100%;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    position: relative;
}

    .card h1, .card h2 {
        color: #FFBD59;
        text-align: center;
    }

.add-birthday {
    margin-bottom: 1rem;
}

.add-birthday, .add-birthday-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    color: #FFBD59;
    font-size: 3rem;
    transition:all 0.4s;
}

.add-birthday-container {
    width: 95%;
    height: 95%;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #FFBD59;
    padding: 2rem 0;
    min-height:100px;
}

    .add-birthday:hover {
        background-color: rgba(255,255,255,0.2);
    }

    /*HOME PAGE*/
    .home-card {
        background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.4)), to(rgba(0,0,0,0.1)));
        background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.1));
        border-left: 2px solid #FFBD59;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 1rem;
    }

.card.birthday-person {
    background-color: rgba(0, 255, 83, 0.59);
    font-weight: bold;
}

.action-icons {
    position: absolute;
    top: 0.4rem;
    right: 0.6rem;
    display:flex;
    flex-direction:column;
}

.details-btn, .delete-btn, .order-btn {
    font-size: 1.4rem;
    position: relative;
    margin-bottom:0.4rem;
}

.details-btn {color: #FFBD59;}
    .delete-btn{color:#a81111;}
.order-btn{color:green;}

    .delete-btn::after,
    .details-btn::after, .order-btn::after {
        display: none;
        position: absolute;
        top: 50%;
        right: 120%;
        transform: translateY(-50%);
        background-color: rgba(0,0,0,0.6);
        font-size: 1rem;
        padding: 0.6rem;
    }

    .details-btn::after {
        content: "Detaylar";
    }

    .delete-btn::after {
        content: "Sil";
    }

.order-btn::after {
    content: "Sipariş";
}

.delete-btn:hover::after,
.details-btn:hover::after,
.order-btn:hover::after {
    display: block;
}

.profile-picture {
    border-radius: 50%;
    border: 1px solid #FFBD59;
    padding: 2rem;
}

.fake-picture {
    text-align: center;
    display: inline-block;
    font-size: 2.5rem;
    width: 3rem;
}

.home-card .birthday-person-details {
    width: 60%;
}

.birthday-person-details p {
    margin-bottom: 0.6rem;
}

.birthday-person-details i {
    margin-right: 0.8rem;
}

.countdown {
    color: #FFBD59;
    max-width: 150px;
}

.card-btn {
    display: inline-block;
    margin-top: 0.2rem;
    background-color: #FFBD59;
    color: #000;
    padding: 0.5rem 1rem;
    font-family: inherit;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.welcome-text {
    color: #fff;
    padding: 0.6rem;
}

    .welcome-text h2 {
        margin: 1.2rem 0;
    }

.welcome-link {
    color: #FFBD59;
}

    .welcome-link:hover {
        text-decoration: underline;
    }

/*PROFILE PAGE*/

.profile-card {
    width: 72%;
    margin: 1rem auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFBD59;
}

    .profile-card .profile-picture {
        margin-bottom: 1rem;
    }

.user-details {
    margin-top: 0.6rem;
}

    .user-details th {
        text-align: left;
        padding-right: 0.6rem;
    }

/*OWL CAROUSEL*/
.owl-carousel {
    position: relative;
}

    .owl-carousel .item {
        margin-left: 10px;
    }

.owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFBD59;
    width: 100%;
}

    .owl-nav span {
        display: block;
        font-size: 1.6rem !important;
    }

.owl-prev {
    position: absolute;
    left: 1rem;
}

.owl-next {
    position: absolute;
    right: 1rem;
}

.owl-dots {
    display: none;
}

/*FORMS*/
input {
    border: none;
    font-family: inherit;
    padding: 1rem;
}

form {
    text-align: center;
}

    form h1 {
        color: #FFBD59;
        margin-bottom: 1rem;
    }

.form-control {
    background-color: rgba(255,255,255,0.8);
    margin-bottom: 1rem;
    width: 100%;
}

.form-submit {
    background-color: #FFBD59;
    color: #000;
    cursor: pointer;
}

    .form-submit:hover {
        opacity: 0.9;
    }

.input-validation-error {
    background-color: rgba(246, 93, 93, 0.30);
}

.field-validation-error {
    display: block;
    color: red;
    text-align: left;
    margin-bottom: 0.4rem;
}

.validation-summary-errors {
    text-align: left;
    color: red;
    padding: 1rem;
    background-color: rgba(255,255,255,0.2);
    margin-bottom: 0.8rem;
}

/*FOOTER*/
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1rem 0;
    color: #fff;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.4)), to(rgba(0,0,0,0.1)));
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.1));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    footer i {
        color: #FFBD59;
    }

    footer .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 90%;
    }

        footer .container ul:nth-child(2) li:first-child {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
        }

.social-media i {
    margin-right: 0.5rem;
    font-size: 1.4rem;
}

.copyright {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    color: darkgray;
}

/*UTILITY*/

.flex {
    display: flex;
    justify-content: center;
}

/* ORDER */

.cake-types{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.cake-type{
    flex-basis:48%;
    height:120px;
}

.cake-types figure{
    position:relative;
    height:100%;
    border:2px solid #FFBD59;
}

.cake-types figure figcaption{
    position:absolute;
    left:5px;
    bottom:5px;
}

.cake-type img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:50% 20%;
    display:block;
}