
@{
    ViewData["Title"] = "Kutlarız - Hata";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<img src="~/assets/img/500.svg" alt="500 internal server icon" />
<p>
    İşleminiz gerçekleştirilirken bir hata oluştu. Teknik ekibimize hata detayları ulaştırıldı. Lütfen daha sonra tekrar deneyiniz.
    <a asp-controller="Home" asp-action="Index">Buradan Anasayfa'ya dönebilirsiniz.</a>
</p>

