
@{
    ViewData["Title"] = "Kutlarız - Sayfa Bulunamadı";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}


<img src="~/assets/img/404.svg" alt="404 not found icon" />
<p>Aradığınız sayfa bulunamadı. <a asp-controller="Home" asp-action="Index">Buradan Anasayfa'ya dönebilirsiniz.</a></p>

